body{
    text-align: center;    
    background-color: aquamarine;
}
#button1
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#button2
{
    display:none;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin:10px;
}